_vbash_complete()
{
    local cur prev BASE_LEVEL

    COMPREPLY=()
    cur=${COMP_WORDS[COMP_CWORD]}
    prev=${COMP_WORDS[COMP_CWORD-1]}
    mprev=${COMP_WORDS[COMP_CWORD-2]}


    # SETUP THE BASE LEVEL (everything after "vbash")
    if [ $COMP_CWORD -eq 1 ]; then
        COMPREPLY=( $(compgen \
                -W "--nginx-ee --maintenance --syslog --showlog --netdata --docker --mysqltuner --mysqlcheck --cronjob --password --speedtest --sysinfo --foldersize --gpigz --gunpigz --transfer --wobashrc-update" \
        -- $cur) )

     elif [ $COMP_CWORD -eq 2 ]; then
        case "$prev" in
            "--gpigz")
            _filedir
            return 0
                ;;
            "--gunpigz")
            _filedir
            return 0
                ;;
            "--transfer")
            _filedir
            return 0
                ;;
            "--showlog")
            _filedir
            return 0
                ;;

            *)
                ;;
        esac
    return 0
fi
} &&
complete -F _vbash_complete vbash


